@import '../../css/normolize.css'
@import '../core/_base'
@import '../elements/_header'
@import '../blocks/_welcome'
@import '../blocks/_about'
@import '../blocks/_favourites'

html
  box-sizing: border-box

*, *::after, *::before
    box-sizing: inherit


body
  font-family: 'Inter'
  line-height: 40px
  letter-spacing: 2px
  font-weight: normal
  font-size: 20px

.wrapper
  width: 100%
  max-width: 1400px
  margin: 0 auto

  @media screen and (max-width: 1420px)
    width: 90%

a, li
  text-decoration: none
  color: $white_color

li
  list-style: none

p, h1, h2
  margin: 0
  padding: 0

h1
  font-size: 30px

h1, h2
  font-family: 'Forum'

h2
  display: flex
  align-items: center
  flex-direction: column
  font-size: 40px
  line-height: 40px

h2 > span
  margin: 20px 0 40px
  width: 50px
  border-bottom: 2px solid $black_color
  font-weight: bold

section
  padding: 20px 0 40px